.message {
    display: flex;
    background-color: #FFCDED;
    padding: 10px 10px 10px 10px;
    align-items: flex-end;

}

/*p {
    margin-top: 0.3em; !* Отступ сверху *!
    margin-bottom: 0.3em; !* Отступ снизу *!
    margin-left: 10px;
}*/

.name{
    font-weight: bold;
    color: #FA8CEB;
    font-size: 20px;
}

.text{
    max-width: 300px;
    min-width: 150px;
    word-wrap: break-word;
    color: #FA8CEB;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.time {
    display: flex;
    justify-content: flex-end;
    color: #1E8E01;
}

.block {
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    color: #F8E5E9;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255,255,255,0.3) 0);
}

/*
.block::after, .block::before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0em;
    width: 0.8em;
    height: 1.8em;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background: #FFCDED;
    }

.block::before {
    border-top: none;
    height: .9em;
    width: 1.4em;
    border-radius: 0 0 0 0;
    background: #060606;
    border-color: #060606;
    margin-right: -.6em;
}
img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 50%;
    object-fit: cover;
}
*/
